.DS_Store
/b2
/bin
/ci-bin
/dist
/tests/android/src/main/assets
/tests/android/src/main/libs
/tests/bin
/tests/dist
/needs
/android/build

# tacklebox
/.configure/
/build
/configure.tackle
/dependencies/
/include/onair/okui/version-config.h
/okui.xcconfig
/project-config.jam
/tests/okui-tests.xcconfig
