.DS_Store
/android/build
/b2
/bin
/bootstrap
/ci-bin
/dist
/needs
/project-config.jam
/tests/android/src/main/assets
/tests/android/src/main/libs
/tests/bin
/tests/dist
/third-party/utf8/needy-wrappers
