.DS_Store
bin
dist
needy-wrappers
project-config.jam
/configure.json
/android/build
/b2
/bootstrap
/ci-bin
/needs
/tests/android/src/main/assets
/tests/android/src/main/libs
/analysis
/third-party/gradle/.gradle/
